*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f7f7f7;
    color:#222;
}

.hero{

    background:#ffd100;
    padding:24px;

}

.hero-card{

    background:white;
    border-radius:20px;
    padding:20px;
    text-align:center;

}

.hero-title{

    font-size:28px;
    font-weight:700;

}

.hero-sub{

    margin-top:10px;
    color:#444;

}

.hero-btn{

    display:inline-block;

    margin-top:15px;

    padding:12px 22px;

    border-radius:12px;

    background:#ffd100;

    color:black;

    text-decoration:none;

    font-weight:700;

}

.section{

    padding:20px;

}

.section-title{

    font-size:22px;
    font-weight:bold;
    margin-bottom:16px;

}

.filter-row{

    display:flex;
    gap:10px;
    overflow:auto;
    margin-bottom:20px;

}

.filter-btn{

    border:none;
    background:white;
    padding:10px 14px;
    border-radius:999px;
    cursor:pointer;
    font-weight:600;

}

.filter-btn.active{

    background:#ffd100;

}

.products{

    display:grid;

    grid-template-columns:
    repeat(auto-fill,minmax(220px,1fr));

    gap:18px;

}

.card{

    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 3px 10px rgba(0,0,0,.08);

}

.card-image{

    position:relative;

}

.card-image img{

    width:100%;
    height:240px;
    object-fit:cover;

}

.badge{

    position:absolute;
    top:10px;
    left:10px;

    background:red;
    color:white;

    padding:6px 10px;

    border-radius:999px;

    font-size:12px;

    font-weight:bold;

}

.card-content{

    padding:15px;

}

.brand{

    font-size:12px;
    color:#777;
    margin-bottom:5px;

}

.product-name{

    font-weight:700;
    min-height:44px;

}

.old-price{

    color:#999;
    text-decoration:line-through;
    margin-top:10px;

}

.sale-price{

    color:#e60023;
    font-size:24px;
    font-weight:800;

}

.stock{

    margin-top:8px;
    color:#ff7b00;
    font-size:13px;

}

.buy-btn{

    display:block;

    text-align:center;

    margin-top:12px;

    background:#ffd100;

    color:black;

    text-decoration:none;

    padding:12px;

    border-radius:12px;

    font-weight:bold;

}
